# Raw and heavy offline data
data/bronze/
data/silver/
data/gold/
data/processed/
data/features/
data/simulated/
data/raw/flight_delay/
data/raw/weather/
data/raw/flights/

# Ignore Trained models and heavy arrays
models/
*.pkl
*.joblib
*.npy
mlruns/

# Ignore python junk
__pycache__/
.ipynb_checkpoints/
.env
venv/

# NOTE: We DO NOT ignore reports/, data/layout/, or data/raw/airports/. 
# Those contain the tiny baked CSVs required by the app perfectly fine for Git.
